<p>Two-way data binding (string)</p>
<p>text: {{text}}</p>
<input [(ngModel)]="text"/>
<button (click)="text = null">Clear</button>
<hr/>

<p>Two-way data binding (collection)</p>
<pre>text: {{collection | json}}</pre>
<input [(ngModel)]="collection.name"/>
<input [(ngModel)]="collection.age"/>
<button (click)="resetCollection()">Сбросить состояние</button>
<hr/>

<p>NgFor use (string)</p>
<pre>{{names | json}}</pre>
<p *ngFor="let name of names" style="margin: 0">{{name}}</p>
<hr/>

<p>NgFor attributes</p>
<p *ngFor="let letter of ['a', 'b', 'c']
   let first = first
   let last = last
   let count = count
   let index = index
   let odd = odd
   let even = even">
  letter: {{letter}}<br/>
  first: {{first}}<br/>
  last: {{last}}<br/>
  count: {{count}}<br/>
  index: {{index}}<br/>
  odd: {{odd}}<br/>
  even: {{even}}
</p>
<hr/>

<p>isIfVisible: {{isIfVisible}}</p>
<button (click)="isIfVisible = !isIfVisible">Сменить видимость</button>
<p *ngIf="isIfVisible">Visible text conditionally</p>
<hr/>
